@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">LA PIRAÑA</h1>
    <h2>Quiénes somos</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam quaerat expedita fugiat perferendis delectus eum
        facere, nemo laudantium sunt ipsum tenetur, nam quasi ipsam fuga amet mollitia nostrum voluptatum beatae.</p>

</div>
