<h1>FORMULARIO DE REGISTRO</h1>
<h2>Ingrese sus datos</h2>

<form action="POST">
    <label for="">Nombres:</label>
    <input type="text" class="form-control">
    <label for="">Apellidos:</label>
    <input type="text" class="form-control">
    <label for="">Celular:</label>
    <input type="number" class="form-control">
    <label for="">Correo:</label>
    <input type="email" class="form-control">
    <label for="">Contraseña</label>
    <input type="password" class="form-control">
    <br>
    <button class="btn btn-primary">Enviar</button>
</form>